h4 Saved scripts
  a.create-folder.fa.fa-plus(ng-click='folders.create()') New folder
.inner
  .droppable(
    ng-repeat='folder in folders.all()', ui-sortable="sortableOptions")
    h5.folder(ng-click='folders.expand(folder)')
      i.fa.fa-caret-right(ng-class="{'fa-rotate-90': folder.expanded}")
      div(edit-in-place='folder.name', on-blur='folders.save()')
      a.fa.fa-trash-o(ng-click='removeFolder(folder)', tooltip-placement='left', tooltip='Remove folder')
    ul.starred.indented(ng-show='folder.expanded')
      li(ng-repeat="document in documents.where({folder: folder.id})")
        include list-item
  hr(ng-if="documents.where({folder: false}).length > 0")
  .droppable(ui-sortable="sortableOptions")
    ul.starred
      li(ng-repeat="document in documents.where({folder: false})")
        include list-item
  file-upload(upload="importDocument($content)", extension="cyp|cypher|cql|txt") &nbsp;
