.inspector.inspector-slide-in(ng-show='showInspector', ng-controller='InspectorCtrl')
  .header
    span.preview(ng-style='{"background-color": style.color }')
    | Node {{item.id}}
    span.muted  [{{item.type || item.labels.join(', ')}}]
    a.close.icon-remove(ng-click='close()')

  .handle
  tabset
    tab
      tab-heading
        i.icon-info-sign
        span.name Properties
      ul.sections.unstyled.tight.scrollable
        li.empty(ng-show='item.propertyList.length == 0') No properties
        li.pair(ng-repeat='property in item.propertyList')
          .key {{property.key}}
          .value {{property.value}}
