.legend(ng-controller='LegendCtrl', ng-model='frame.results.graph')
  .type Labels:
  ul.list-unstyled.list-labels
    li(ng-repeat='(label, node) in labels')
      .contents.no-condition
        .label.label-node.class-name(ng-style='{"background-color": node.style.props.color, "color": node.style.props["text-color-internal"]}') {{label || 'No label'}}
          span.count  ({{node.count}})
  .type Relationships:
  ul.list-unstyled
    li(ng-repeat='(type, rel) in types')
      .contents.no-condition
        .label.label-relationship.class-name(ng-style='{"background-color": rel.style.props.color, "color": rel.style.props["text-color-internal"]}') {{type}}
          span.count  ({{rel.count}})
