.legend(ng-controller='LegendCtrl', ng-model='frame.results.graph')
  ul.list-unstyled
    li(ng-repeat='rule in rules | filter:isNode')
      .contents.no-condition
        .label.label-node.class-name(ng-style='{"background-color": rule.props.color, "border-color": rule.props["border-color"]}') {{rule.selector.klass || 'Default'}}
          span.count  ({{count[rule.selector.klass]}})
        .condition
      //- a.remove.btn.btn-small(tooltip-placement='right', tooltip='Remove style', ng-click="remove(rule)")
      //-   i.icon-remove
