@import 'variables'
@import 'nib'
@import 'mixins'

.legend
  background-color: #EEF1F8
  border-bottom: 1px solid #DFE5F0

  .label
    padding: 10px
    font-size: 12px
    margin-right: 5px
    &.label-node
      padding: 4px 9px
      border-radius: 20px
    &.label-relationship
      padding: 4px 6px
      border-radius: 3px

    .count
      font-weight: normal

  ul
    padding: 7px 9px 2px
    li
      display: inline-block
      &.faded
        opacity: 0.3
      .preview
        preview-size = 29px
        float: left
        border-radius: 50%
        display: inline-block
        width: preview-size
        height: preview-size
        margin-right: 8px
        .shade
          stretch()
          background-color: #fff
          width: (preview-size / 2px)
          opacity: 0.10

      .contents
        //overflow: hidden
        float: left
        line-height: 1em
        position: relative
        top: 3px
        &.no-condition
          top: -1px
          line-height: 24px
        .condition
          font-size: 10px
          color: #888
      .remove
        display: none
        padding: 2px 8px
        margin-left: 12px
      &:hover .remove
          display: inline-block

  .black-hole
    display: inline-block
    margin: 0 -4px
