@import 'variables'
@import 'mixins'

.styler
  opacity: 0.95
  -webkit-font-smoothing: initial
  color: inspector-font-color
  background-color: inspector-bg-color
  width: 320px
  margin-top: 5px;

  ul.list-inline li:first-child
    padding-left: 0
  ul.list-inline li:last-child
    padding-right: 0
  ul.list-inline > li
    padding-left: 3px
    padding-right: 3px

  ul
    padding: 0

  arrow-size = 6px
  > .arrow,
  > .arrow:after
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  > .arrow
    top: -(arrow-size);
    left: 20px;
    margin-left: -(arrow-size);
    border-width: arrow-size;
    border-top-width: 0;
    border-bottom-color: inspector-bg-color

  > .arrow:after
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: inspector-bg-color
    border-width: 10px;

  .attribute
    user-select: none
    display: inline-block
    padding: 1px 6px
    font-size: 12px
    background-color: rgba(0, 0, 0, 0);
    color: #9195A0;
    border: 1px solid #595D66;
    max-width: 100px;
    overflow: hidden;
    border-radius: .25em;
    margin-right: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    &:hover
      border-color: #FFF;
      color: #FFF;


  .sections > li
    display: list-item
    line-height: 1.3em
    padding: 18px 14px
    border-bottom: 1px solid inspector-divider-color
    a
      color: inspector-font-color
    .dropdown-menu > li > a
      color: inspector-bg-color
      &:hover
        color: #fff
    .dropdown-toggle
      font-weight: bold
    &:last-child
      border-bottom: none
    i
      margin-top: -2px
      vertical-align: middle
      font-size: 18px
      display: inline-block
      width: 29px
    &.colors, &.node-sizes, &.arrow-widths
      padding-top: 10px
      padding-bottom: 11px
      a
        position: relative
        display: inline-block
        background-color: #FFF
        line-height: 0
        overflow: hidden
        opacity: 0.3
        padding: 0
        &:after
          content: ' '
          stretch()
          background-color: #fff
          width 50%
          opacity: 0.20
        &:hover, &.active
          opacity: 1
    &.colors, &.node-sizes
      a
        border-radius: 50%
    &.colors
      a
        width: 36px
        height: 36px
        border: 3px solid inspector-bg-color
        &:hover, &.active
          width: 36px
          height: 36px
          border: none
    &.arrow-widths
      a
        height: 30px

