div(ng-controller="CypherResultCtrl", fullscreen)
  include partials/frame-common-actions
  .inner
    .view-result(ng-class='{error: frame.hasErrors}')
      .view-result-graph.result(ng-show='isActive("graph")')
        include partials/legend
        .graph-contents
          svg(neo-graph
            graph-data='frame.response.graph'
            on-item-click='onItemClick($item)'
            ng-controller='D3GraphCtrl'
            style="pointer-events:fill;")
          include partials/inspector
      .view-result-table.result(ng-show='isActive("table")', ng-animate = "'animate-box'")
        neo-table(table-data='frame.response.table')
        a.fa.fa-download(exportable 'ng-click'='exportCSV(frame.response.table)', tooltip-placement='left', tooltip='Download CSV')
      .view-result-error.result(ng-show='frame.detailedErrorText')
        pre
          {{ frame.detailedErrorText }}

    .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
      .status
        div(ng-hide='frame.isLoading')
          span(ng-show='frame.hasErrors')
            .fa.fa-warning-sign
            {{frame.errorText}}
          div(ng-hide='frame.hasErrors')
            div(ng-show='frame.response.table')
              .fa.fa-ok
              include partials/result-status
        span(ng-show='frame.isLoading')
          .fa.fa-spinner.fa-spin
          | Executing query...

      .actions
        a.fa.fa-table(ng-class='{active: isActive("table")}', ng-click='setActive("table")')
        a.fa.fa-code-fork(ng-class='{active: isActive("graph")}', ng-click='setActive("graph")')

