!!! 5
html
  head
    link(rel="stylesheet", href="styles/login.css")
  body
    .expand
      .wrapper
        h1 Welcome to the Neo4j cloud
        p
          a.btn(href='#') Login with GitHub
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='components/postmessage/postmessage.js')
  script(type="text/javascript")
    $(function(){
      $('.expand').fadeIn(300);
    });
  script(type="text/javascript")
    function send(channel, data) {
      pm({
        target: window.parent,
        type: channel,
        data: data
      })
    }

    $('body').click(function(){
      send('close');
    })

    $(function() { send('ready'); })
